<h1>映画編集</h1>

<%= form_with(model: @movie, url: admin_movie_path(@movie), local: true, method: :patch) do |form| %>
  <% if @movie.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(@movie.errors.count, "エラー") %>が発生しました:</h4>
      <ul>
        <% @movie.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, 'タイトル' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :year, '公開年' %>
    <%= form.number_field :year, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :description, '概要' %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :image_url, '画像URL' %>
    <%= form.text_field :image_url, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :is_showing, '上映中' %>
    <%= form.check_box :is_showing, class: 'form-check-input' %>
  </div>

  <%= form.submit '更新', class: 'btn btn-primary' %>
  <%= link_to "削除", admin_movie_path(@movie), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
<% end %>
